:root {
    --clr-primary: #CCD6A6;
    --clr-secondary: #DAE2B6;

    --clr-accent-primary: #65647C;
    --clr-accent-tertiary: #8B7E74;
    --clr-accent-secondary: #f8ffd6;

    --ff-primary: 'Raleway', sans-serif;
    --ff-secondary: 'Montserrat', serif;
    --ff-tertiary: 'Merriweather', serif;

    --fw-regular: 550;
    --fw-semi-bold: 750;
    --fw-bold: 900;

    --fs-logo-header: 3rem;
    --fs-logo-footer: 1.5rem;
    --fs-navigation-links: 1.3rem;
    --fs-body-header: 1.6rem;
    --fs-body: 1.3rem;
}


/*
* CSS RESET STYLING
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul, ol {
   list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  bg-rendering: optimizeSpeed;
  linbackground-color-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  bg-decoration-skip-ink: auto;
}
background-color/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
 * MY STYLE RULES START HERE
 */

 section {
   padding: 2% 15%;
 }

 .header {
    background-color: var(--clr-primary);
    font-family: var(--ff-primary);
    color: var(--clr-accent-primary);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 10;
 }

 .mobile-nav-toggle {
   display: none;
 }

 .mobile-nav-toggle:checked ~ nav {
   display: block;
 }

 .mobile-nav-toggle-label {
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   height: 100%;
   cursor: pointer;
 }

 .mobile-nav-toggle-label__hamburger-lines {
   display: block;
   background-color: var(--clr-accent-primary);
   position: absolute;
   height: 2px;
   width: 1.5rem;
   margin-left: 1em;
 }

.mobile-nav-toggle-label__hamburger-lines--line-1 {
   top: 20px;
 }
 .mobile-nav-toggle-label__hamburger-lines--line-3 {
   bottom: 20px;
 }

 .navigation {
   background-color: var(--clr-primary);
   position: absolute;
   text-align: left;
   top: 100%;
   width: 100%;
   display: none;
 }

.navigation__ul {
   list-style-type: none;
   margin: 0 0 1em 1em;
}

/*Laptop Devices*/
@media (min-width: 1025px) {
   .mobile-nav-toggle-label {
      display: none;
   }

   .header {
      position: static;
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
      align-items: center;
   }

   .header__logo {
      grid-column: 2 / 3;
   }

   .navigation {
      position: static;
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
   }

   .navigation__ul {
      margin: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
   }

   .navigation__ul li {
      padding: 20px;
   }

   .link--navigation:hover {
      text-decoration: underline;
      text-underline-offset: 0.8rem;
   }
} 

 .link {
    text-decoration: none;
    color: inherit;
 }

 .link--logo {
    font-size: var(--fs-logo-header);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
 }

 .link--navigation {
    font-size: var(--fs-navigation-links);
    font-weight: var(--fw-semi-bold);
    text-transform: uppercase;
 }

 .link--navigation--active {
   background-color: var(--clr-secondary);
 }

 .link:hover {
    color: var(--clr-accent-tertiary);
 }

 .main {
   position: relative;
   top: 7%;
   font-family: var(--ff-secondary);
 }

 @media (min-width: 1025px) {
   .main {
      position: static;
   }

   .main section {
      padding: 2% 14%;
   }
 }

 .main__search {
    background-color: var(--clr-secondary);
    color: var(--clr-accent-primary);
 }

 .main__search__title {
    font-size: var(--fs-body-header);
    font-weight: var(--fw-semi-bold);
    margin: 1.5rem;
 }

 .main__search__body {
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    margin: 0 0.5rem 0.5rem;
 }

 .form {
   width: 60%;
   font-size: var(--fs-body);
 }

 .form__label {
   display: block;
   text-align: center;
 }

 .form__text_input {
   border: none;
   background-color: var(--clr-accent-secondary);
   margin: 0 auto;
 }

 .button {
   display: inline-block;
   border: none;
   padding: 3px;
 }

.button--submit {
   background-color: var(--clr-accent-tertiary);
   color: var(--clr-primary);
   border: none;
   border-radius: 0.1rem;
   margin: auto;
}

.button--submit:hover {
   cursor: pointer;
   background-color: var(--clr-accent-primary);
}

 .main__call-to-action {
    background-color: var(--clr-accent-tertiary);
    color: var(--clr-secondary);
 }

 .main__call-to-action__body {
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
 }

.link--call-to-action {
   font-size: var(--fs-body-header);
   display: inline-block;
   background-color: var(--clr-primary);
   color: var(--clr-accent-primary);
   padding: 0.3rem;
   margin: 0.5rem auto 0;
   border-radius: 0.2rem;
}

.link--call-to-action:hover {
   background-color: var(--clr-secondary);
   color: var(--clr-accent-tertiary);
}

 .main__providers {
    background-color: var(--clr-secondary);
    color: var(--clr-accent-primary);
 }

 .main__providers__title {
    font-size: var(--fs-body-header);
    font-weight: var(--fw-semi-bold);
 }

 .main__providers__list {
   display: grid;
 }

/*Mobile Medium Devices*/
@media (min-width: 426px) and (max-width: 767px) { 
   .main__providers__list {
      grid-template-columns: 1fr 1fr;
   }
} 

/*Tablet Devices*/
@media (min-width: 768px) and (max-width: 1024px) {
   .main__providers__list {
      grid-template-columns: 1fr 1fr 1fr;
   }
} 

/*Laptop Devices*/
@media (min-width: 1025px){
   .main__providers__list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
}

 .main__about {
    background-color: var(--clr-secondary);
    color: var(--clr-accent-primary);
 }

 .main__about__video {
   width: 100%;
   height: 100%;
 }

 .main__about__messages {
   text-align: center;
 }

 .main__about__messages__title {
    font-size: var(--fs-body-header);
    font-weight: var(--fw-semi-bold);
    padding: 0.5rem 0 1rem;
 }

 .main__about__links {
   background-color: var(--clr-secondary);
   color: var(--clr-accent-primary);
   display: flex;
   flex-wrap: wrap;
 }

 .main__about__messages__body {
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
 }

 .main__social-media {
    background-color: var(--clr-secondary);
    color: var(--clr-accent-primary);
    text-align: center;
 }

 .main__social-media__title {
    font-size: var(--fs-body-header);
    font-weight: var(--fw);
 }

 .main__social-media ul {
   display: grid;
   gap: 1rem;
   grid-template-columns: 1fr;
   justify-content: center;
   align-items: center;
   margin: 0.5rem auto;
 }

/*Mobile Medium Devices*/
@media (min-width: 426px) and (max-width: 767px) {
   .main__social-media ul {
      grid-template-columns: 1fr 1fr;
   }
}

/*Mobile Large Devices*/
@media (min-width: 768px) and (max-width: 1024px) {
   .main__social-media ul {
      grid-template-columns: 1fr 1fr 1fr;
   }
} 

/*Tablet Devices*/
@media (min-width: 1024px) {
   .main__social-media ul {
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
}

.main__social-media li {
   display: flex;
   gap: 0.5rem;
   align-items: center;
}

.main__social-media img {
   height: 50%;
}

 .main__physical-locations {
    background-color: var(--clr-accent-tertiary);
    color: var(--clr-secondary);
 }

.main__physical-locations__title {
    font-size: var(--fs-body-header);
    font-weight: var(--fw);
}

.main__mailing-list {
    background-color: var(--clr-secondary);
    color: var(--clr-accent-primary);
}

.main__mailing-list__title {
    font-size: var(--fs-body-header);
    font-weight: var(--fw-semi-bold);
}

.main__mailing-list form {
   display: grid;
   grid-template-columns: 1fr;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
   .main__mailing-list form {
      grid-template-columns: 1fr 1fr;
   }
} 

/*Laptop Devices*/
@media (min-width: 1025px) {
   .main__mailing-list form {
      grid-template-columns: 1fr 1fr;
   }
}

.main__sign-in {
    background-color: var(--clr-secondary);
    color: var(--clr-accent-primary);
}

.main__sign-in__title {
    font-size: var(--fs-body-header);
    font-weight: var(--fw-semi-bold);
}

.main__sign-in form {
   display: grid;
   grid-template-columns: 1fr;
   gap: 1rem;
   margin: auto;
   align-items: center;
   justify-content: center;
}

.main__search_box {
   background-color: var(--clr-primary);
   color: var(--clr-accent-tertiary);
   display: flex;
   justify-content: center;
   align-items: center;
}

.main__results {
   background-color: var(--clr-secondary);
   color: var(--clr-accent-primary);
}

.main__results__filtering__title {
   font-size: var(--fs-body-header);
}

.main__results__table {
   margin: 1rem auto;
}

.table {
   width: 100%;
   border-collapse: collapse;
   font-size: var(--fs-body);
   text-align: center;
}

.table tbody:nth-child(even) {
   background-color: var(--clr-secondary);
}

.table__th,
.table__td {
   border: 1px solid var(--clr-accent-primary);
}

.table__th {
   background-color: var(--clr-accent-tertiary);
   color: var(--clr-primary);
}

 /*Mobile Devices*/
 @media (max-width: 767px) {
   .table thead {
      display: none;
   }

   .table,
   .table tbody,
   .table tr,
   .table__td {
      display: block;
      width: 100%;
      text-align: left;
      font-size: large;
   }
 }

.next_destinations {
   margin: 0 50%;
}

.next_destinations__title {
   font-size: var(--fs-body-header);
   margin: 0 0 0.5rem;
}

.next_destinations__ul {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.link--next_destinations {
   padding: 0 1rem;
}

.link--next_destinations:hover {
   text-decoration: underline;
}

.main__book_description {
   background-color: var(--clr-secondary);
}

/*Laptop Large Devices*/
@media (min-width: 1441px){ 
   .main__book_description {display: grid;
      grid-template-columns: 1fr 1fr;
   }

   .main__book_description__name {
      grid-column: 1 / 3;
   }
}

.main__book_description__detailed_description li {
   font-weight: var(--fw-bold);
}

.main__book_description__detailed_description span,
.main__book_description__detailed_description blockquote {
   font-weight: var(--fw-regular);
}

.main__audio_description {
   background-color: var(--clr-accent-primary);
   color: var(--clr-accent-secondary);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   margin: auto;
}

@media (min-width: 768px) {
 }

.main__audio_description audio {
   color: var(--clr-accent-tertiary);
   display: block;
}

.link--audio_transcript {
   display: inline-block;
   padding: 0.5rem 1rem;
}

.link--audio_transcript:hover {
   color: var(--clr-secondary);
   text-decoration: underline;
}

.main__check_out {
   background-color: var(--clr-secondary);
}

.form--check_out {
   margin: auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.label--check_out__phone_guide {
   grid-column: 1 / 3;
   text-align: center;
}

.button--check_out_submit {
   grid-column: 1 / 3;
}

.admin__add_new {
   display: grid;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: var(--clr-secondary);
   font-family: var(--ff-secondary);
}

.admin__add_new__title {
   font-size: var(--fs-body-header);
   font-weight: var(--fw-semi-bold);
}

.admin__add_new form {
   display: flex;
   width: 50%;
   margin: auto;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.admin__add_new input {
   margin: 0.2rem auto;
}

.footer {
    background-color: var(--clr-primary);
    color: var(--clr-accent-primary);
    font-family: var(--ff-primary);
    padding: 2% 15%;
 }

@media (min-width: 768px) {
   .footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
   }
 }

 .footer__logo {
    font-size: var(--fs-logo-footer);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
 }

 .footer__title {
    font-size: var(--fs-body-header);
    font-weight: var(--fw-semi-bold);
 }

 .footer__body {
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
 }


 /*Mobile Small Devices*/
@media (max-width: 425px) { } 

/*Mobile Medium Devices*/
@media (min-width: 426px) and (max-width: 767px) { }

/*Mobile Large Devices*/
@media (min-width: 768px) and (max-width: 1024px) { } 

/*Tablet Devices*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){ } 

/*Laptop Large Devices*/
@media (min-width: 1441px){ }