/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

*, *::after, *::before {
    box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


body {
    line-height:1;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}


nav ul {
    list-style:none;
}


blockquote, q {
    quotes:none;
}


blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}


a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}


/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}


del {
    text-decoration: line-through;
}


abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}


table {
    border-collapse:collapse;
    border-spacing:0;
}


/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}


input, select {
    vertical-align:middle;
}

/*
 * My Style Rules
 *
 *
*/


/* Header styles start here */
.header {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 2fr;
    justify-self: center;
    background-color: #68B984;
    color: #F0E9D2;
    position: fixed;
    width: 100%;
    padding: 2% 15%;
    align-items: center;
}

.logo {
    width: 50%;
}

.logo__name {
    font-family: 'Raleway', sans-serif;
}


.logo__name--header {
    font-size: 3rem;
    font-weight: bolder;
}

.logo__name--footer {
    font-size: 1.5rem;
    font-weight: bold;
}

/* navigation styles start here */
.navigation {
    width: 50%;
    font-family: 'Raleway', sans-serif;
}

.navigation__ul {
    display: flex;
    justify-content: flex-start;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link--navigation {
    font-size: 1.5rem;
    padding: 0 0.5rem;
    margin: 0.6rem auto;
}

.link--navigation:hover {
    text-decoration: underline;
}

.link--call-to-action {

}

.main {
}


/* Search Box Styles start here */
.search_box {
    background-color: #3D5656;
    color: #F0E9D2;
    padding: 7% 15%;
    padding-top: 150px;
    text-align: center;
    font-family: 'Montserrat', serif;
}

.search_box__title {
    font-size: 2rem;
}

.search_box__body {
    font-size: 1.3rem;
}

.form {
    padding: 2%;
}

.form__label {
    font-size: 1.5rem;
}

.form__text_input {
    font-size: 1.5rem;
    border-radius: 1rem;
}

.button {
    font-size: 1.5rem;
    color: #3D5656;
    background-color: #FED049;
    border: #FED049;
    border-radius: 0.2rem;
}

.button:hover {
    font-size: 1.5rem;
    color: #3D5656;
    background-color: #FcD049;
    border: #FcD049;
    border-radius: 0.2rem;
}

.call-to-action {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    background-color: #CFFDE1;
    color: #3D5656;
    padding: 7% 15%;
    text-align: center;
    font-family: 'Montserrat', serif;
}

.call-to-action__body {
    font-size: 1.5rem;
    font-weight: 400;
}

.link--call-to-action {
    margin: 1rem auto;
    font-size: 1.5rem;
    color: #3D5656;
    background-color: #FED049;
    border: #FED049;
    border-radius: 0.2rem;
}

.providers {
    background-color: #3D5656;
    color: #F0E9D2;
    padding: 7% 15%;
    margin: 0% auto;
    text-align: center;
    font-family: 'Montserrat', serif;
}

.providers__title {
    font-size: 2rem;
}

.list  {
    list-style-type: none;
}

.list--providers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin: 3% auto;
    list-style-type: none;
}

.list--addresses {

}

.image  {

}

.image--provider {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.image--provider:hover {
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #68B984;
    color: #F0E9D2;
    padding: 2% 15%;
    font-family: 'Merriweather', serif;
    align-items: center;
}

.logo--footer {
}

.addresses {
}

.addresses__title {
    font-size: 1.2rem;
    text-decoration: underline;
}

.li-elements  {

}

.li-elements--addresses {

}

.li-elements--socials {

}

.socials {
}

.socials__title {
    font-size: 1.2rem;
    text-decoration: underline;
}
